#home.navbar.navbar-default.move-me
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img.navbar-brand-logo(src='img/BLMA_LOGO.png', alt='')
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a(href='/')
                | KUNG FU 
                i.fa.fa-bars
                span Choy Li Fut
            li.dropdown
              a(href='/TaiChi')
                | TAI CHI 
                i.fa.fa-bars
                span Yang Style
            li.dropdown
              a(href='#recent-events')
                | EVENTS
                i.fa.fa-bars
                span What's Happening
            li.dropdown
              a(href='#contact')
                | CONTACT US 
                i.fa.fa-bars
                span Get In Touch
                li.dropdown
              a(href='https://www.facebook.com/Black-Lion-Martial-Arts-184424024924403/?fref=ts')
                i.fa.fa-facebook.fa-3x
                span acebook
                
    // ./ NAV BAR END